

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
    
body {
    min-height: 100vh;
}

/*css for nav bar*/
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    height: 4.375rem;
    background: #FDFDFD;
    box-shadow: 0 0.063rem 0.125rem #36454F;
    z-index: 99;
}
    
nav .navbar {
    height: 100%;
    max-width: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    padding: 0 3.125rem;
}
    
.navbar .logo img {
    position: absolute;
    width: 9.375rem;
    height: auto;
    left: 0.625rem;
    top: 0.625rem; 
}
    
.navbar .logo a {
    font-size: 1.875rem;
    color: #36454F;
    text-decoration: none;
    font-weight: 600;
}
    
nav .navbar .nav-links {
    line-height: 4.375rem;
    height: 100%;
}
    
nav .navbar .links {
    display: flex;
}
    
nav .navbar .links li {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    padding: 0 0.875rem;
}
    
nav .navbar .links li a {
    height: 100%;
    text-decoration: none;
    white-space: nowrap;
    color: #36454F;
    font-size: 0.9375rem;
    font-weight: 500;
}
    
.links li:hover .reasons-arrow,
.links li:hover .aboutus-arrow {
    transform: rotate(180deg);
}
    
nav .navbar .links li .arrow {
    height: 100%;
    width: 1.375rem;
    line-height: 4.375rem;
    text-align: center;
    display: inline-block;
    color: #36454F;
    transition: all 0.3s ease;
}
    
nav .navbar .links li .sub-menu {
    position: absolute;
    top: 4.375rem;
    left: 0;
    line-height: 2.5rem;
    background: #FDFDFD;
    box-shadow: 0 0.063rem 0.125rem #36454F;
    border-radius: 0 0 0.25rem 0.25rem;
    display: none;
    z-index: 2;
}
    
nav .navbar .links li:hover .reasons-sub-menu,
nav .navbar .links li:hover .aboutus-sub-menu {
    display: block;
}
    
.navbar .links li .sub-menu li {
    padding: 0 1.375rem;
    border-bottom: 0.063rem solid #36454F;
}
    
.navbar .links li .sub-menu a {
    color: #36454F;
    font-size: 0.9375rem;
    font-weight: 500;
}

.navbar .search-box {
    position: relative;
    height: 2.5rem;
    width: 2.5rem;
}
    
.navbar .search-box i {
    position: absolute;
    height: 100%;
    width: 100%;
    line-height: 2.5rem;
    text-align: center;
    font-size: 1.375rem;
    color: #36454F;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}
    
.navbar .search-box .input-box {
    position: absolute;
    right: calc(100% - 2.5rem);
    top: 5rem;
    height: 3.75rem;
    width: 18.75rem;
    background: #FDFDFD;
    border-radius: 0.375rem;
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s ease;
}
    
.navbar.showInput .search-box .input-box {
    top: 4.063rem;
    opacity: 1;
    pointer-events: auto;
    background: #36454F;
}
    
.search-box .input-box::before {
    content: '';
    position: absolute;
    height: 1.25rem;
    width: 1.25rem;
    background: #36454F;
    right: 0.625rem;
    top: -0.375rem;
    transform: rotate(45deg);
}
    
.search-box .input-box input {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 0.25rem;
    transform: translate(-50%, -50%);
    height: 2.188rem;
    width: 17.5rem;
    outline: none;
    padding: 0 0.9375rem;
    font-size: 1.375rem;
    border: none;
}
    
.navbar .nav-links .sidebar-logo {
    display: none;
}
    
.navbar .fa-bars {
    display: none;
}

/*css for scroll to top button*/
#scrollToTopBtn {
    display: none; 
    position: fixed; 
    bottom: 1.875rem; 
    right: 1.875rem; 
    z-index: 99;
    outline: none; 
    border: none;
    border-radius: 0.625rem;
    background-color: #36454F;
    color: #FDFDFD; 
    cursor: pointer; 
    padding: 0.625rem;
    font-size: 0.938rem;
}
  
  #scrollToTopBtn:hover {
    background-color: #40A09A; 
    font-weight: bold;
    text-decoration: underline;
}

/* css for landing top */

.landing {
    width: 100%;
    height: 100%;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    top: 4.375rem; /*height of navbar*/
}

.landing-container {
    width: 100%;
    margin:auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

#reasons-landing-img {
    width: 100%;
    object-fit: contain;
    position: relative;
    
}

#reasons-caption {
    color: #f2f2f2;
    background-color: #36454f2e;
    font-size: 0.9375rem;
    padding: 2rem 2rem;
    position: absolute;
    bottom: 40%;
    right: 20rem;
    width: 30rem;
    height: 10rem;
    text-align: center;
}

/*css for reasons sub nav bar*/
.reasonsgallery-subnav-container .sub-navbar {
    padding: 0.938rem 0.938rem;
    width: 100%;
    text-align: center;
    margin-bottom: 0.625rem;
    margin-top: 2.5rem;
}

.reasonsgallery-subnav-container .sub-navbar .sub-nav {
    color: #36454F;
    font-size: 0.9375rem;
    display: inline-block;
    cursor: pointer;
    padding: 0.5rem 1.25rem 0.5rem 1.25rem;
    transition: all 0.3s ease;
    height: 100%;
    text-decoration: none;
    white-space: nowrap;
    
}

.reasonsgallery-subnav-container .sub-navbar .sub-nav:hover {
    color: #36454F;
    font-weight: bold;
    background: none;
    text-decoration: underline;
}


/* css for reasons gallery page top text */

#reasons-gallery-top-text-container {
    position: relative;
    max-width: 100%;
    display: flex;
}

#reasons-gallery-top-text {
    color: #36454F;
    max-width: 100%;
    padding-left: 1.875rem;
    padding-right:1.875rem;
    padding-top: 1rem;
    display: block;
    align-items: justify;
}

/*css for gallery*/

.gallery {
    width: 100%;
    display: block;
    min-height: 100vh;
    background-color: none;
    padding: 1.25rem 0;
}
 
 .container {
    width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.gallery img {
    max-width: 100%;
    padding: none;
    display: block;
}

.gallery-item {
    position: relative;
    padding: 15px;
}

.gallery .gallery-filter {
    padding: 0 0.938rem;
    width: 100%;
    text-align: center;
    margin-bottom: 1.25rem;
    margin-top: 1.25rem;
}

.gallery .gallery-filter .filter-item {
    color: #36454F;
    font-size: 0.9375rem;
    display: inline-block;
    cursor: pointer;
    padding: 0.5rem 1.25rem 0.5rem 1.25rem;
    transition: all 0.3s ease;
}

.gallery .gallery-filter .filter-item:hover {
    color: #36454F;
    font-weight: bold;
    background: none;
    text-decoration: underline;
}

.gallery .gallery-item {
	width: 25%; /*display of x no of image per row*/
    
}

.gallery .gallery-item-inner img {
	width: 100%;
}

.gallery .gallery-item.show {
	animation: fadeIn 0.5s ease;
}
@keyframes fadeIn {
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}

.gallery .gallery-item.hide {
	display: none;
}

/*css for card text*/
.gallery-item-inner {
    width: 100%;
    height: 100%;
    position: relative;
    display: inline-block;
}
.gallery-item-inner .reason-text {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}
.gallery-item-inner:hover .reason-text {
    display: inline;
}

/* css for generator bottom image */
.reasons-img-bottom-container {
    width: 100%;
    margin:auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    background: #FDFDFD;
}

#reasons-img-bottom {
    width: 100%;
    object-fit: contain;
    position: relative;   
}


/*css for footer*/
    
.footer {
    background-color: #F2F2F2;
    width: 100%;
    display: block;
    height: 100%;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
}

.footer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
    
.footer-links {
    position: relative;
    display: block;
    width: 100%;
    padding-top: 1rem;
}

.footer-links a {
    color: #36454F;
    font-size: 0.8rem;
    transition: all 0.5s;
    text-decoration: none;
    display: block; 
    list-style: none; 
}
    
.footer-links a:hover {
    color: #40A09A;
    font-weight: bold;
}
    
.footer-socials {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-socials a {
    color: #36454F;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 2rem;
    text-decoration: none;
    font-size: 2rem;
    padding-bottom: 1.5rem;
}

.footer-socials a:hover {
    color: #40A09A;
}
    
.footer-copyright {
    color: #36454F;
    font-size: 0.75rem;
    width: 100vw;
    padding-top: 2rem;
    padding-bottom: 1.5rem;
    text-align: center;
}

/* css for footer-disclaimer modal */
/* The Modal (background) */
#myModal {
    display: none; 
    z-index: 99; 
    width: 100%; 
    height: 100%; 
    position: fixed;
    top: 4.375rem;
}
  
/* modal content box and text*/
.modal-content {
    background-color: #FDFDFD;
    margin: 15% auto; 
    padding: 1.875rem;
    width: 80%;
    position: relative;
    filter: drop-shadow(1.25rem 1.25rem 0.625rem #36454e4a);
    color: #36454F;
    max-width: 100%;
    display: block;
}

.modal-content h1 {
    padding-bottom: 1rem;
}
  
/* The Close Button */
.disclaimer-modal button {
    border-radius: 0.25rem;
    background-color: #36454F;
    border: none;
    color: #F2F2F2;
    text-align: center;
    font-size: 0.9375rem;
    padding: 0.625rem;
    width: 8.75rem;
    transition: all 0.5s;
    cursor: pointer;
    margin: 0.313rem;
    position: absolute;
    right: 3rem;
    bottom: 1rem;
}
      
.disclaimer-modal button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
      
.disclaimer-modal button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -1.25rem;
    transition: 0.5s;
}
      
.disclaimer-modal button:hover span {
    padding-right: 1.563rem;
}
      
.disclaimer-modal button:hover span:after {
    opacity: 1;
    right: 0;
}
  
  
/*media queries*/
    
/* media for navbar*/   
   
@media (max-width:1024) {

    /* css for nav bar */
    nav .navbar {
        max-width: 100%;
        padding: 0 1.563rem;
    }
    
    nav .navbar .logo a {
        font-size: 1.688rem;
    }
    
    nav .navbar .links li {
        padding: 0 0.625rem;
        white-space: nowrap;
    }
    
    nav .navbar .links li a{
        font-size: 0.9375rem;
    }
    
}


@media (max-width:768px) {

    /* css to show burger menu */
    .navbar .fa-bars {
        display: block;
    }
    
    .navbar .nav-links .sidebar-logo img {
        position: absolute;
        width: 8.75rem;
        height: auto;
        left: 0.625rem;
        top: 0.625rem; 
    }
    
    nav .navbar .nav-links {
        position: fixed;
        top: 0;
        left: -100%;
        display: block;
        max-width: 24.375rem;
        width: 100%;
        background:  #FDFDFD;
        line-height: 2.5rem;
        padding: 1.25rem;
        box-shadow: 0 0.313rem 0.625rem #F2F2F2;
        transition: all 0.5s ease;
        z-index: 1000;
    }
    
    .navbar .logo img {
        position: relative;
        width: 11.875rem;
        height: auto;
        left: center;
        right: center;
        top: 0.625rem;
    }
    
    .navbar .nav-links .sidebar-logo {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .sidebar-logo .logo-name {
        display: none;
    }
    
    .sidebar-logo  i,
    .navbar .fa-bars {
        font-size: 1.563rem;
        color: #36454F;
    }
    
    nav .navbar .links {
        display: block;
        margin-top: 1.25rem;
    }
    
    nav .navbar .links li .arrow {
        line-height: 2.5rem;
    }
    
    nav .navbar .links li {
        display: block;
    }
    
    nav .navbar .links li .sub-menu {
        position: relative;
        top: 0;
        box-shadow: none;
        display: none;
    }
    
    nav .navbar .links li .sub-menu li {
        border-bottom: none;
    }
    
    .links li:hover .reasons-arrow,
    .links li:hover .aboutus-arrow {
        transform: rotate(0deg);
    }
    
    nav .navbar .links li:hover .reasons-sub-menu,
    nav .navbar .links li:hover .aboutus-sub-menu {
        display: none;
    }
    
    .navbar .nav-links.show1 .links .reasons-sub-menu,
    .navbar .nav-links.show2 .links .aboutus-sub-menu {
        display: block;
    }
    
    .navbar .nav-links.show1 .links .reasons-arrow,
    .navbar .nav-links.show2 .links .aboutus-arrow {
        transform: rotate(180deg);
    }   
}

@media (max-width:450px) {

    /* css for navbar */
    nav .navbar .nav-links {
        max-width: 100%;
    } 
    
    .navbar .logo img {
        position: relative;
        width: 11.25rem;
        height: auto;
        left: center;
        right: center;
        top: 0.625rem;
    }
}

/* media for gallery filter*/
@media(max-width: 491px){
	.gallery .gallery-item{
		width: 50%;
	}
}
@media(max-width: 667px){
    .gallery .gallery-item{
		width: 100%;
	}
	.gallery .gallery-filter .filter-item{
		margin-bottom: 0.625em;
	}
}



 
    